*   {
        margin: 0 0 0 0;
        pdding: 0 0 0 0;
    }

body{
        background-color: #ffffff;
        font-size: 16px;


    }




 heder  {
            Nav {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 0 2rem 0 0;
                padding: 2rem 0 0 0;

                    .navigation {
                                    Ul  {
                                        display: flex;
                                        list-style: none;
                                        gap: 2rem;
                                            li {
                                                color: black;
                                                    a   {
                                                        font-size: 1rem;
                                                        color        

                                                        }
                                                
                                            
                                                }       


                                        }
                                }

                }
        }   